# MirrorAsset Environment Variables

# Stellar Network setting (testnet / public)
VITE_STELLAR_NETWORK=testnet

# Soroban Smart Contract IDs (for simulated/on-chain integrations)
VITE_ORACLE_CONTRACT_ID=CD6ZH3G5WBLPFLV74PDK7JOH3B2W5JHLV637Q6NNSL2SPN5G737V4WEX
VITE_VAULT_CONTRACT_ID=CB7ZH3G5WBLPFLV74PDK7JOH3B2W5JHLV637Q6NNSL2SPN5G737V4WEX
